.select {
  display: flex;
  flex-direction: column;
}

.name {
  margin-bottom: 10px;
}

.genderSelect {
  margin-bottom: 40px;
}

.label{
  margin-bottom: 10px;
}

p {
  font-size: 12px;
  margin-bottom: 0;
  font-weight: bold;
  margin-bottom: 3px;
}




